# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_MIRYOKU_XIAO_LEFT
    def_bool $(shields_list_contains,miryoku_xiao_left)

config SHIELD_MIRYOKU_XIAO_RIGHT
    def_bool $(shields_list_contains,miryoku_xiao_right) 