if SHIELD_NICE_LEFT
    config ZMK_KEYBOARD_NAME
        default "Miryoku Xiao"
    config ZMK_SPLIT_ROLE_CENTRAL
        default y
endif

if SHIELD_NICE_LEFT || SHIELD_NICE_RIGHT
    config ZMK_SPLIT
        default y
endif